#root {
   max-width: 600px;
   margin: auto;
}

#logo {
  text-align: center;
  color: #839CA5;
}


#imap-form-submit,
#search-form-submit
{
  float: right;
}

.results {
  text-align: center;
}

#results-collection  li:nth-child(even) {
  background-color: #d3d3d3;
}
