#root {
   max-width: 600px;
   margin: auto;
}

#imap-form-submit,
#search-form-submit
{
  float: right;
}

.results {
  text-align: center;
}

#results-collection  li:nth-child(even) {
  background-color: #d3d3d3;
}

#logo {
  margin-left: 40%;
}

#searchSpinner {
  margin-left: 43.7%;
}
